[submodule "docs"]
	path = docs
	url = https://github.com/urbanstudy/stat564.github.io
[submodule "stat564.github.io"]
	path = stat564.github.io
	url = https://github.com/urbanstudy/stat564.github.io
