<b>Note:</b> The schedule of topics and assignments might be subject to change.

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">

  <tr>
    <th style="width:7.5%;text-align:right">Date</th>
    <th style="width:7.5%">Course</th>
    <th style="width:7.5%;text-align:center">Notes</th>
    <th style="width:7.5%;text-align:center">Assignments</th>
    <th style="width:7.5%;text-align:center">Labs</th>
    <th style="width:7.5%;text-align:center">Examinations</th>
    <th style="width:7.5%;text-align:center">Temp</th>
    <th style="width:7.5%;text-align:center">Backup</th>
  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <th>{{ .stat561.title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .hw }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .lab  }}">
          <i class="fa fa-file-image-o  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-file-image-o  fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .temp }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .backup }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}
    </tr>
    {{ end }}
  {{ end }}

</table>