<b>Note:</b> The schedule of topics and assignments might be subject to change.

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">

  <tr>
    <th style="width:7.5%">Course</th>
    <th style="width:7.5%;text-align:right">Date</th>
    <th style="width:7.5%;text-align:center">Notes</th>
    <th style="width:7.5%;text-align:center">Assignments</th>
    <th style="width:7.5%;text-align:center">Labs</th>
    <th style="width:7.5%;text-align:center">Examinations</th>
    <th style="width:7.5%;text-align:center">Temp</th>
    <th style="width:7.5%;text-align:center">Backup</th>
  </tr>

  {{ range $.Site.Data.lessons.stat561 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat562 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat563 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat564 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat565 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat566 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat551 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.usp537 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .hw }}">
          <i class="far fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="far fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

</table>