<b>Note:</b> 

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">

  <tr>
    <td style="width:7.5%">Course</td>
    <td style="width:7.5%;text-align:right">Date</td>
    <td style="width:7.5%;text-align:center">Notes</td>
    <td style="width:7.5%;text-align:center">Assignments</td>
    <td style="width:7.5%;text-align:center">Labs</td>
    <td style="width:7.5%;text-align:center">Examinations</td>
    <td style="width:7.5%;text-align:center">Temp</td>
    <td style="width:7.5%;text-align:center">Backup</td>
  </tr>


  {{ range $.Site.Data.lessons.stat501 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat501/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.usp657 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp657/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}


  {{ range $.Site.Data.lessons.stat661 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat661/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}


  {{ range $.Site.Data.lessons.stat671 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat671/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}


  {{ range $.Site.Data.lessons.stat572 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat572/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}


  {{ range $.Site.Data.lessons.stat561 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .lab }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat561/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat562 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat562/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat563 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat563/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
  {{ range $.Site.Data.lessons.stat564 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat564/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat565 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat565/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat566 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat566/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.stat551 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/stat551/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}


  {{ range $.Site.Data.lessons.usp537 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp537/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}

  {{ range $.Site.Data.lessons.usp570 }}
    <tr>
      <th>{{ .title }}</th>
      <td align="right">{{ .date }}</td>
      
      {{ if .note }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .note }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .hw }}">
          <i class="fa fa-pencil fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .lab  }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .ex }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .ex }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}

      {{ if .temp }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .temp }}">
          <i class="fa fa-paperclip fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-paperclip fa-lg"></i></font></td>
      {{ end }}

      {{ if .backup }}
      <td align="center"><a href="{{ .Site.baseurl }}/usp570/{{ .backup }}">
          <i class="fa fa-archive"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-archive"></i></font></td>
      {{ end }}
    </tr>
  {{ end }}
  
</table>